@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: hsl(212, 45%, 89%);
}

.qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  padding: 0.5em;
  border-radius: 1em;
  width: 9em;
}

.qr-code img {
  width: 100%;
  border-radius: 1em;
}

.qr-text,
h1 {
  font-size: 1.25rem;
  padding: 0 0.25em 0.5em 0;
  letter-spacing: 0.05rem;
}

.qr-text h1::first-letter {
  text-transform: capitalize;
}

.qr-text p {
  font-size: 1rem;
  color: hsl(220, 15%, 55%);
}

.qr-text span {
  text-transform: capitalize;
}
